<!DOCTYPE html>
<html>
<head>
    <title>Flask Sample</title>
</head>
<body>
    <h1>Welcome to My Flask Web Page</h1>
    <form action="/greet" method="POST">
         <label for="name">Enter your id:</label><br>
         <input type="text" id="id" name="id" required><br><br>
        <label for="name">Enter your name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="name">Enter your email:</label><br>
        <input type=""placeholder="@gmail.com" name="email" required><br>
        <label for="name">Enter your password:</label><br>
        <input type="text" placeholder="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
